<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Article Analysis</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section class="card">
        <form class="card_form" onsubmit="return Client.handleSubmit(event)">
          <input
            id="name"
            type="text"
            name="input"
            value=""
            placeholder="Name"
            class="url_input"
          />
          <input
            type="submit"
            name=""
            value="submit"
            class="submit_button"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section class="result_wrapper">
        <div class="result_text">Form Results:</div>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
