<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Article Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header_title">Article Analysis</div>
      <div class="header_text">Natural Language Processing</div>
    </header>

    <main>
      <section class="card">
        <form class="card_form" onsubmit="return Client.handleSubmit(event)">
          <input
            id="url"
            type="text"
            name="input"
            value=""
            placeholder="Article Url"
            class="url_input"
          />
          <input
            type="submit"
            name=""
            value="submit"
            class="submit_button"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section class="result_wrapper">
        <div class="result_text">Analysis Results:</div>
        <div id="preloader">
          <div class="preloader_ring first_ring">
            <div class="preloader_ring second_ring">
              <div class="preloader_ring third_ring"></div>
            </div>
          </div>
        </div>
        <div id="results">
          <p id="agreement">Agreement: <span></span></p>
          <p id="confidence">Confidence: <span></span></p>
          <p id="irony">Irony: <span></span></p>
          <p id="score">Score: <span></span></p>
          <p id="subjectivity">Subjectivity: <span></span></p>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer_text">Developed using Meaning Cloud API</div>
    </footer>

    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker
            .register('/service-worker.js')
            .then((registraion) => {
              console.log('registraion is successful');
            });
        });
      } else {
        console.log('service worker are not supported');
      }
    </script>
  </body>
</html>
