@import './_header.scss';
@import './_form.scss';
@import './_preloader.scss';
@import './_result.scss';
@import './_footer.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: $main_color;
  font-family: 'Montserrat', sans-serif;
  color: white;
  @include baseColumn;
}

main {
  flex: 1;
  @include baseColumn;
  justify-content: center;
}
